*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AR One Sans', sans-serif;
}

/* start css of header section  */
 

.headSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoImage{
    width: 100px;
    height: 70px;
}

.home{
    margin-top: 10px;
}


/* End css of header section  */

/* Start css of Physics problems section */

.physics_background{
   background-color: black;
   width: auto;
   /* height: auto; */
   margin: 20px 20px 0 20px;
   border-radius: 15px;
}
.physics_headding{
    text-align: center;
    padding: 60px 10px 10px 10px;
    color: white;
    font-size: 18px;
    line-height: 1.4;
}
.technique_text{
    color: red;
    font-size: 16px;
}

.physics_description{
    color: white;
    text-align: center;
    padding: 20px 10px 10px 10px;
    line-height: 1.4;
}
.physics_description2{
    color: white;
    text-align: center;
    padding: 0px 10px 10px 10px;
    line-height: 1.4;
}
.Batch_section{
    background-color: white;
    width: inherit;
    height: 505px;
    margin: 20px 30px 0px 30px;
    border-radius: 15px;
}
.seatsLeft_section{
    background-color: black;
    width: 200px;
    height: 95px;
    margin: 10px 10px 10px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: absolute;
    top: 500px;
}
.seatsLeft_section h1{
    font-size: 50px;
}
.nextBatch_section{
    background-color: black;
    width: 200px;
    height: 85px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 610px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.batch_text{
    color: white;
    font-size: 10px;
}
.calender_section{
    background-color: black;
    width: 200px;
    height: 85px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 710px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.liveClass_section{
    background-color: black;
    width: 200px;
    height: 85px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 810px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.weekly_section{
    background-color: black;
    width: 200px;
    height: 85px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 910px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.NeelmaniSir_section{
    background-color: white;
    width: auto;
    height: 780px;
    margin: 20px 30px 0px 30px;
    border-radius: 15px;  
}
.NeelmaniSir_picture{
    border-radius: 15px;
    padding-top: 20px;
    margin-left: 20px;

}
.NSsir_subsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name_text {
 margin-top: 10px;
}
.NSsir_description{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.des_sec1{
    padding-top: 10px;
    padding-left: 20px;
}
.des_sec2{
    padding-top: 10px;
}
.experience_section{
    color: White;
    background-color: black;
    width: 200px;
    height: 85px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 1450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.experience_section h1{
    font-size: 45px;
}
.experience_section p{
    font-size: 10px;
}
.jeeSelection_section{
    color: White;
    background-color: black;
    width: 200px;
    height: 85px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 1540px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jeeSelection_section h1{
    font-size: 45px;
}
.jeeSelection_section p{
    font-size: 10px;
}
.fee_section{
    text-align: center;
    padding-top: 200px;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}
.booknow_section{
    color: White;
    background-color: red;
    width: 200px;
    height: 65px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 1725px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first_video{
    width:310px ;
    height:350px ;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.video_section{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* End css of Physics problems section */

/* start of founders CSS section  */

.latestNews_section{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 280px;
    height: 175px;
    background-color: red;
    border-radius: 15px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: white;
}
.latestNews_mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.latestNews_section h1{
    padding-top: 30px;
    padding-bottom: 20px;
}
.latestNews_section p{
    text-align: center;
    width: 250px;
}
.images_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.founders_picture{
    margin-top: 15px;
    width:280px;
    height:150px;
}
.isac_picture{
    margin-top: -25px;
    margin-bottom: 50px;
    border-radius: 15px;
    width:280px;
    height:180px;
}

/* End of founders CSS section */

/* Start of Master Physics CSS section */

.masterPhysics_section{
    background-color: black;
    width: auto;
    height: 420px;
    margin: 20px 20px 0 20px;
    border-radius: 15px;
}
.masterPhysics_des{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}
.studentCoached_section{
    margin-top: 20px;
    width: 250px;
    height: 100px;
    background-color: red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}
.studentCoached_section h1 {
   font-size: 30px;
}
.studentCoached_mainSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.studentplaced_section{
    margin-top: 20px;
    width: 250px;
    height: 140px;
    background-color: red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}

.studentplaced_section p{
    width: 150px;
}

.studentplaced_section h1{
    font-size: 35px;
}

.second_video{
    width: 270px;
    height: 200px;
    margin-top: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.secondVideo_mainsec{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Master Physics CSS section */


/* Start CSS for the mobile version where width is more than 375 */

@media screen and (min-width: 375px) {
    .Batch_section{
        height: 530px;
    }
    .seatsLeft_section{
        position: absolute;
        top: 480px;
        left: 53px;
        width: 250px;
    }
    .nextBatch_section{
        position: absolute;
        top: 600px;
        left:53px;
        width: 250px;
    }
    .calender_section{
        position: absolute;
        top: 700px;
        left:53px;
        width: 250px;
    }
    .liveClass_section{
        position: absolute;
        top: 800px;
        left:53px;
        width: 250px;
    }
    .weekly_section{
        position: absolute;
        top: 900px;
        left:53px;
        width: 250px;
    }
    .des_sec2{
        margin-left: -50px;
    }
    .experience_section{
        position: absolute;
        top: 1440px;
        left: 53px;
        width: 250px;
    }
    .jeeSelection_section{
        position: absolute;
        top: 1540px;
        left: 53px;
        width: 250px;
    }
    .booknow_section{
        position: absolute;
        top: 1725px;
        left: 53px;
        width: 250px;
    }
    .fee_section{
        margin-top: 30px;
    }
    .NeelmaniSir_section{
        height: 780px;
    }
    .latestNews_section{
        width: 330px;
    }
    .founders_picture{
        width:330px;
    }
    .isac_picture{
        width:330px;
    }
    .second_video{
        width: 330px;
        margin-top: 80px;
    }
  }


/* End CSS for the mobile version where width is more than 375 */
